@model IEnumerable<DefaPress.Application.DTOs.ArticleCategoryDto>
<ul class="submenu">
 
 
 @foreach (var category in Model.OrderByDescending(c => c.DisplayOrder))
 {
	 <li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>
		<li class="li_subset"><a href="#">@category.Name</a></li>


 }

</ul>
